<section class="search wrapper">
  <aside class="search__filter">

  </aside>

  <div class="search__content">
    <h1 class="search__header">Książki: {{category}}</h1>
    <div class="search__sorting">
      <div class="sorting-header">
        <div class="sorting-header__counter">
          Znaleziono 481 produktów
        </div>
        <div class="sorting-header__sort">
          <label for="sort" class="sorting-header__sort-label">Sortuj według: </label>
          <div class="sorting-header__sort-select-wrapper">
            <select name="sort" id="sort" class="sorting-header__sort-select">
              <option value="price-down">Cena: malejąco</option>
              <option value="price-up">Cena: rosnąco</option>
            </select>
            <svg class="sorting-header__sort-chevron" viewBox="0 0 32 32">
              <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
            </svg>
          </div>

        </div>
      </div>
    </div>

    <div class="search__result">
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a class="books-carousel__button books-carousel__button--disabled">
          <span class="books-carousel__button__right">Produkt niedostepny</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
    </div>
  </div>
</section>