<section class="cart wrapper">
  <main class="cart__content">
    <div class="cart__header">
      <h1 class="cart__title">Koszyk</h1>
      <p class="cart__quantity">3 przedmioty</p>
    </div>
    <div class="cart__container">
      <div class="cart__item cart__item-header">
        <div class="cart__item-description cart__item-description--product">Produkt</div>
        <div class="cart__item-description">Ilość</div>
        <div class="cart__item-description">Cena</div>
        <div class="cart__item-description">Razem</div>
      </div>
      <div class="cart__item">
        <div class="cart__item-product">
          <img class="cart__item-image" src="/assets/img/horror_category.png" alt="title">
          <div class="cart__item-info">
            <div class="cart__item-title">Minecraft Guide to Redstone</div>
            <div class="cart__item-author">Mojang</div>
            <button class="cart__item-delete">USUŃ</button>
          </div>
        </div>

        <div class="cart__item-quantity">
          <button class="cart__item-button">
            <svg class="cart__item-button-icon" viewBox="0 0 24 24">
              <use xlink:href="/assets/svg/sprite.svg#icon-minus"></use>
            </svg>
          </button>
          <input class="cart__item-input" type="number" name="" id="">
          <button class="cart__item-button">
            <svg class="cart__item-button-icon" viewBox="0 0 24 24">
              <use xlink:href="/assets/svg/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>

        <div class="cart__item-price">
          <div class="cart__item-price-old">48.99 zł</div>
          <div class="cart__item-price-new">23.00 zł</div>
        </div>

        <div class="cart__item-sum">
          <div class="cart__item-sum-price">46.00 zł</div>
        </div>
      </div>

      <div class="cart__item">
        <div class="cart__item-product">
          <img class="cart__item-image" src="/assets/img/romans_category.png" alt="title">
          <div class="cart__item-info">
            <div class="cart__item-title">Minecraft Joke Book</div>
            <div class="cart__item-author">Steve Carrel</div>
            <button class="cart__item-delete">USUŃ</button>
          </div>
        </div>

        <div class="cart__item-quantity">
          <button class="cart__item-button">
            <svg class="cart__item-button-icon" viewBox="0 0 24 24">
              <use xlink:href="/assets/svg/sprite.svg#icon-minus"></use>
            </svg>
          </button>
          <input class="cart__item-input" type="number" name="" id="">
          <button class="cart__item-button">
            <svg class="cart__item-button-icon" viewBox="0 0 24 24">
              <use xlink:href="/assets/svg/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>

        <div class="cart__item-price">
          <div class="cart__item-price-new">16.00 zł</div>
        </div>

        <div class="cart__item-sum">
          <div class="cart__item-sum-price">16.00 zł</div>
        </div>
      </div>

      <div class="cart__item">
        <div class="cart__item-product">
          <img class="cart__item-image" src="/assets/img/fantasy_category.png" alt="title">
          <div class="cart__item-info">
            <div class="cart__item-title">Minecraft Guide to PVP</div>
            <div class="cart__item-author">Mojang</div>
            <button class="cart__item-delete">USUŃ</button>
          </div>
        </div>

        <div class="cart__item-quantity">
          <button class="cart__item-button">
            <svg class="cart__item-button-icon" viewBox="0 0 24 24">
              <use xlink:href="/assets/svg/sprite.svg#icon-minus"></use>
            </svg>
          </button>
          <input class="cart__item-input" type="number" name="" id="">
          <button class="cart__item-button">
            <svg class="cart__item-button-icon" viewBox="0 0 24 24">
              <use xlink:href="/assets/svg/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>

        <div class="cart__item-price">
          <div class="cart__item-price-new">16.00 zł</div>
        </div>

        <div class="cart__item-sum">
          <div class="cart__item-sum-price">16.00 zł</div>
        </div>
      </div>
    </div>
  </main>
  <aside class="cart__service">
    <div class="cart__service-order">
      <button class="button button--secondary button--medium button--full-parent button--parent-font-size">Przejdź do
        zamówienia</button>
    </div>

    <div class="cart__service-break">LUB</div>
    <button class="cart__service-back">Kontynuuj zakupy</button>
    <div class="cart__service-summary">
      <div class="cart__service-summary-title">Podsumowanie zamówienia</div>
      <div class="cart__service-summary-info">
        <div class="cart__service-summary-text">Promocja:</div>
        <div class="cart__service-summary-amount cart__service-summary-amount--promotion">-25.99 zł</div>
      </div>
      <div class="cart__service-summary-info">
        <div class="cart__service-summary-text cart__service-summary-text--sum">Do zapłaty:</div>
        <div class="cart__service-summary-amount cart__service-summary-amount--sum">89.90 zł</div>
      </div>
    </div>
  </aside>
</section>