@{
    ViewData["Title"] = "Home Page";
}

<header class="header">
    <div class="header__container wrapper">
        <div class="header__cta">
            <h1 class="header__heading">Twoje ulubione historie i wiedza w zasięgu kliknięcia.</h1>
            <p class="header__text">Zapraszamy do księgarni internetowej Czytnik. W naszej ofercie znajdziesz szeroki
                asortyment książek i e-booków.</p>
            <div class="header__button">
                <button class="button button--medium button--secondary">
                    Znajdź książkę
                </button>
            </div>
        </div>
        <div class="header__covers">
            <img src="/assets/img/covers.png" alt="covers" class="header__image">
        </div>

        <div class="header__decoration">
            <img src="/assets/svg/blob.svg" alt="" class="header__decoration-image">
        </div>
    </div>

</header>