<section class="form form--register">
    <div class="form__content">
        <h2 class="form__heading">Zarejestruj się na <span class="form__heading--highlight">Czytnik</span></h2>
        <button class="form__google">
            Dołącz za pomocą Google
        </button>
        <form class="form__form">
            <p class="form__text">lub użyj swojego maila</p>
            <input type="email" placeholder="Email" class="form__input" />
            <input type="password" placeholder="Hasło" class="form__input" />
            <input type="password" placeholder="Powtórz hasło" class="form__input" />
            <input type="submit" class="form__submit button button--medium" value="Zarejestruj się" />
        </form>
    </div>
    <div class="form__side">
        <h2 class="form__side-heading">Posiadasz już konto?</h2>
        <p class="form__side-paragraph">Aby pozostać z nami w kontakcie, zaloguj się i zacznij korzystać z serwisu.</p>
        <a class="form__side-button button button--transparent button--medium" href="/Login">Zaloguj się</a>
    </div>
</section>