@{
    ViewData["Title"] = "Twój profil - Szablony";
}

<section class="wrapper user-templates">
    <h2 class="heading-line heading-line--both">Szablony płatności</h2>
    <p class="small-paragraph">Dodaj, usuń lub edytuj swoje szablony płatności</p>
    <div class="user-templates__container">
        <div class="user-templates__list">
            <details id="1" class="address-template" open>
                <summary class="address-template__header">
                    <h3 class="address-template__heading">Bartłomiej Pawlak</h3>
                    <p class="address-template__post">34-600 Limanowa</p>
                </summary>
                <p class="address-template__address">Stróża 100 ul. Piotrowa</p>
                <p class="address-template__email">bartek@email.com</p>
                <p class="address-template__phone">500 100 100</p>
                <div class="address-template__buttons">
                    <button class="button">Edytuj</button>
                    <button class="button button--danger">Usuń</button>
                </div>
            </details>
            <details id="2" class="address-template" open>
                <summary class="address-template__header">
                    <h3 class="address-template__heading">Zygmunt Koziołek</h3>
                    <p class="address-template__post">34-600 Limanowa</p>
                </summary>
                <p class="address-template__address">Stróża 100 ul. Piotrowa</p>
                <p class="address-template__email">bartek@email.com</p>
                <p class="address-template__phone">500 100 100</p>
                <div class="address-template__buttons">
                    <button class="button">Edytuj</button>
                    <button class="button button--danger">Usuń</button>
                </div>
            </details>
            <details id="3" class="address-template" open>
                <summary class="address-template__header">
                    <h3 class="address-template__heading">Andrzej Sapkowski</h3>
                    <p class="address-template__post">34-600 Novigrad</p>
                </summary>
                <p class="address-template__address">Stróża 100 ul. Piotrowa</p>
                <p class="address-template__email">bartek@email.com</p>
                <p class="address-template__phone">500 100 100</p>
                <div class="address-template__buttons">
                    <button class="button">Edytuj</button>
                    <button class="button button--danger">Usuń</button>
                </div>
            </details>
        </div>
        <div class="user-templates__form-container">
            <form class="address-template user-templates__form">
                <h3 class="user-templates__heading">Dodaj szablon</h3>
                <section class="small-form">
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">Imię</span>
                        <input type="text" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">Nazwisko</span>
                        <input type="text" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">Numer telefonu</span>
                        <input type="tel" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">email</span>
                        <input type="email" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">kod pocztowy</span>
                        <input type="text" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">poczta</span>
                        <input type="text" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">miejscowość</span>
                        <input type="text" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">numer domu</span>
                        <input type="number" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">ulica</span>
                        <input type="text" class="small-input__input" />
                    </label>
                    <label class="settings-form__input small-input">
                        <span class="small-input__label">numer mieszkania</span>
                        <input type="number" class="small-input__input" />
                    </label>
                </section>
                <input type="submit" class="button button--secondary" value="Dodaj" disabled/>
            </form>
        </div>
    </div>
</section>