@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<section class="form form--login">
    <div class="form__side">
        <h2 class="form__side-heading">Nie posiadasz jeszcze konta?</h2>
        <p class="form__side-paragraph">Chcesz w pełni korzystać z naszego serwisu? Zarejestruj się już teraz.</p>
        <a class="form__side-button button button--transparent button--medium" href="/Register">Zarejestruj się</a>
    </div>
    <div class="form__content">
        <h2 class="form__heading">Zaloguj się na <span class="form__heading--highlight">Czytnik</span></h2>
        <button class="form__google">
            Zaloguj się za pomocą Google
        </button>
        <form id="account" method="post" class="form__form">
            <p class="form__text">lub użyj swojego maila</p>
            <label class="form__label">
                <span class="form__errorMessage">Podaj poprawny adres email</span>
                <input type="text" placeholder="Nazwa użytkownika" class="form__input" asp-for="Input.UserName" required />
            </label>
            <label class="form__label">
                <span class="form__errorMessage">Hasło musi posiadać minimum 8 znaków, jedną małą i dużą literę i jedną cyfrę.</span>
                <input type="password" placeholder="Hasło" class="form__input" asp-for="Input.Password" required />
            </label>
            <a href="/Login/RemindPassword" class="form__forgot">Nie pamiętasz hasła?</a>
            <input type="submit" class="form__submit button button--secondary button--medium" value="Zaloguj się" />
        </form>
    </div>
</section>
<script src="~/js/validateLoginForm.js"></script>
<script src="~/js/validateForm.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
