.navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 4rem;
}

.navigation__burger {
  display: none;

  @media only screen and (max-width: 900px) {
    display: block;
  }

  &-line {
    width: 30px;
    height: 5px;

    background-color: var(--color-grey-light);
    border-radius: 4px;

    & + & {
      margin-top: 5px;
    }
  }
}

.navigation__links {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  &-item {
    white-space: nowrap;
    color: var(--color-grey-light);

    &:hover {
      color: var(--color-secondary);
      transition: 0.2s color;
    }

    & + & {
      margin-left: 3rem;
    }

    &--active {
      position: relative;
      color: var(--color-secondary);

      &::after {
        content: '';

        position: absolute;
        left: 50%;
        bottom: -60%;
        transform: translateX(-50%);

        width: 7px;
        height: 7px;

        background-color: var(--color-secondary);
        border-radius: 50%;
      }
    }

    &--active > .navigation__links-link {
      cursor: default;
    }
  }

  &-link {
    font-weight: 700;
    font-size: 1.4rem;
  }

  &-list {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 1.4rem;
  }

  &-list-icon {
    fill: currentColor;

    width: 12px;

    margin-left: 1rem;
  }
}

.navigation__logo {
  font-size: 3.6rem;
  font-weight: 900;
  color: var(--color-primary);

  @media only screen and (max-width: 900px) {
    margin: 0 auto;
    font-size: 2.4rem;
  }
}

.navigation__search {
  position: absolute;

  display: flex;
  align-items: center;

  height: 4.6rem;
  width: 2rem;

  margin-right: 2rem;
  padding: 0.5rem 0;
  padding-left: 1.5rem;

  background-color: transparent;
  border-radius: 10px;

  transition: 0.5s transform, 0.5s right, 0.5s width, 0.7s background-color;

  @media only screen and (max-width: 900px) {
    left: 0;
    top: 6rem;

    width: 100%;

    background-color: var(--color-white-dark);
  }

  @media only screen and (min-width: 901px) {
    right: 20rem;
    &:focus-within {
      right: 50%;
      transform: translateX(51%);
      background-color: var(--color-white-dark);
      width: clamp(400px, 51vw, 660px);

      transition: 0.5s transform, 0.5s right, 0.5s width, 0.7s background-color;
    }

    &:focus-within &-input {
      display: block;
    }
  }

  &-input {
    display: none;

    width: 90%;

    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-grey);

    @media only screen and (max-width: 900px) {
      display: block;
    }

    &:focus {
      outline: none;
    }

    @include change-input-placeholder-color(var(--color-grey-light));
  }

  &-button {
    margin-left: auto;
    margin-right: 1.5rem;
    width: 20px;
    height: 20px;
  }

  &-icon {
    height: 100%;
    fill: var(--color-grey-light);

    &:hover {
      fill: var(--color-secondary);
    }
  }
}

.navigation__buttons {
  display: flex;
  align-items: center;
  height: 100%;

  @media only screen and (max-width: 900px) {
    position: initial;
  }

  &-login {
    margin-left: 4rem;
    padding: 0.6rem 3rem;

    background-color: var(--color-primary);
    border-radius: 8px;

    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  &-cart {
    position: relative;

    margin-left: 2.5rem;

    width: 32px;
    height: 32px;
  }

  &-cart-icon {
    width: 100%;
    fill: var(--color-grey-light);
  }

  &-cart-quantity {
    position: absolute;
    bottom: -25%;
    right: -25%;

    width: 2rem;
    height: 2rem;

    background-color: var(--color-primary);
    border-radius: 50%;

    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
  }
}
