.navigation {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.navigation__logo {
  font-size: 3.6rem;
  font-weight: 900;
  color: var(--color-primary);
}

.navigation__search {
  display: flex;
  align-items: center;

  height: 4.6rem;
  width: 66rem;

  margin: 0 10rem;
  padding: 0.5rem 1rem;

  background-color: var(--color-white-dark);
  border-radius: 10px;

  &-input {
    width: 90%;

    padding-left: 2.5rem;

    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-grey);

    &:focus {
      outline: none;
    }

    @include change-input-placeholder-color(var(--color-grey-light));
  }

  &-button {
    margin-left: auto;
    width: 20px;
    height: 20px;
  }

  &-icon {
    height: 100%;
    fill: var(--color-grey-light);
  }
}

.navigation__buttons {
  display: flex;
  align-items: center;
  height: 100%;

  &-login {
    padding: 0.6rem 3rem;

    background-color: var(--color-primary);
    border-radius: 8px;

    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &-cart {
    position: relative;

    margin-left: 2.5rem;

    width: 32px;
    height: 32px;
  }

  &-cart-icon {
    width: 100%;
    fill: var(--color-grey-light);
  }

  &-cart-quantity {
    position: absolute;
    bottom: -25%;
    right: -25%;

    width: 2rem;
    height: 2rem;

    background-color: var(--color-primary);
    border-radius: 50%;

    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
  }
}
