<nav class="navigation">
  <div class="navigation__content wrapper">
    <button class="navigation__burger js-navigation__burger">
      <div class="navigation__burger-line"></div>
      <div class="navigation__burger-line"></div>
      <div class="navigation__burger-line"></div>
    </button>

    <div class="navigation__logo">
      <a asp-controller="Home" asp-action="Index">Czytnik</a>
    </div>

    <ul class="navigation__links">
        <li class="navigation__links-item @Html.ActiveClass("Home", "Index")">
            <a class="navigation__links-link" asp-controller="Home" asp-action="Index">Strona Główna</a>
        </li>
        <li class="navigation__links-item @Html.ActiveClass("Categories", "Index")">
            <a class="navigation__links-link" asp-controller="Categories" asp-action="Index">Kategorie</a>
        </li>
        <li class="navigation__links-item @Html.ActiveClass("Home", "Kontakt")">
            <a class="navigation__links-link" asp-controller="Home" asp-action="Kontakt">Kontakt</a>
        </li>
        <li class="navigation__links-item @Html.ActiveClass("Blog", "Index")">
            <a class="navigation__links-link" asp-controller="Blog" asp-action="Index">Blog</a>
        </li>
    </ul>

    <div class="navigation__buttons">
      <div class="navigation__buttons-login">
        <a class="button" href="/Login">
          Zaloguj
        </a>
      </div>
      <button class="navigation__buttons-cart">
        <svg class="navigation__buttons-cart-icon" viewBox="0 0 32 32">
          <use xlink:href="/assets/svg/sprite.svg#icon-cart"></use>
        </svg>
        <div class="navigation__buttons-cart-quantity">2</div>
      </button>
    </div>
    <form class="navigation__search js-search-form" asp-controller="Search" asp-action="Index" method="GET">
      <input type="text" class="navigation__search-input js-search-navigation-input" placeholder="Wyszukaj..." name="SearchText" />
      <button class="navigation__search-button" >
        <svg class="navigation__search-icon" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</nav>

<nav class="navigation__mobile js-navigation__mobile">
  <button class="navigation__mobile-close js-navigation__mobile-close">
    <div class="navigation__burger-line"></div>
    <div class="navigation__burger-line"></div>
  </button>

  <ul class="navigation__mobile-links">
    <li class="navigation__mobile-item navigation__mobile-item--active">
      <a href="/" class="navigation__mobile-link navigation__links-link">
        Strona Główna
      </a>
    </li>
    <li class="navigation__mobile-item">
      <a href="/Categories" class="navigation__mobile-link navigation__links-link">
        Kategorie
      </a>
    </li>
    <li class="navigation__mobile-item">
      <a href="/Home/Kontakt" class="navigation__mobile-link navigation__links-link">
        Kontakt
      </a>
    </li>
    <li class="navigation__mobile-item">
      <a href="/Blog" class="navigation__mobile-link navigation__links-link">
        Blog
      </a>
    </li>
  </ul>

  <div class="navigation__mobile-login">
    <a href="/Login" class="button button--big">
      Zaloguj
    </a>
  </div>

</nav>