<nav class="navigation">
  <button class="navigation__burger js-navigation__burger">
    <div class="navigation__burger-line"></div>
    <div class="navigation__burger-line"></div>
    <div class="navigation__burger-line"></div>
  </button>

  <div class="navigation__logo">
    <a href="/">Czytnik</a>
  </div>

  <div class="navigation__links">
    <div class="navigation__links-item navigation__links-item--active">
      <a href="/" class="navigation__links-link">Strona Główna</a>
    </div>
    <div class="navigation__links-item">
      <button class="navigation__links-list">
        Kategorie
        <svg class="navigation__links-list-icon" viewBox="0 0 32 32">
          <use xlink:href="/assets/sprite.svg#icon-chevron-down"></use>
        </svg>
      </button>
    </div>
    <div class="navigation__links-item">
      <a href="/" class="navigation__links-link">Kontakt</a>
    </div>
    <div class="navigation__links-item">
      <a href="/" class="navigation__links-link">Blog</a>
    </div>
  </div>

  <div class="navigation__buttons">
    <button class="navigation__buttons-login">
      Zaloguj
    </button>
    <button class="navigation__buttons-cart">
      <svg class="navigation__buttons-cart-icon" viewBox="0 0 32 32">
        <use xlink:href="/assets/sprite.svg#icon-cart"></use>
      </svg>
      <div class="navigation__buttons-cart-quantity">2</div>
    </button>

    <div class="navigation__search">
      <input type="text" class="navigation__search-input" placeholder="Wyszukaj..." />
      <button class="navigation__search-button">
        <svg class="navigation__search-icon" viewBox="0 0 32 32">
          <use xlink:href="/assets/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
</nav>

<nav class="navigation__mobile js-navigation__mobile">
  <button class="navigation__mobile-close js-navigation__mobile-close">
    <div class="navigation__burger-line"></div>
    <div class="navigation__burger-line"></div>
  </button>

  <ul class="navigation__mobile-links">
    <li class="navigation__mobile-item navigation__mobile-item--active">
      <a href="/" class="navigation__mobile-link navigation__links-link">
        Strona Główna
      </a>
    </li>
    <li class="navigation__mobile-item">
      <a href="/" class="navigation__mobile-link navigation__links-link">
        Kategorie
      </a>
    </li>
    <li class="navigation__mobile-item">
      <a href="/" class="navigation__mobile-link navigation__links-link">
        Kontakt
      </a>
    </li>
    <li class="navigation__mobile-item">
      <a href="/" class="navigation__mobile-link navigation__links-link">
        Blog
      </a>
    </li>
  </ul>

  <button class="navigation__mobile-login navigation__buttons-login">
    Zaloguj
  </button>
</nav>