<nav class="navigation">
  <div class="navigation__logo">Czytnik</div>

  <div class="navigation__search">
    <input type="text" class="navigation__search-input" placeholder="Wyszukaj..." />
    <button class="navigation__search-button">
      <svg class="navigation__search-icon" viewBox="0 0 32 32">
        <use xlink:href="/assets/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </div>

  <div class="navigation__buttons">
    <button class="navigation__buttons-login">
      Zaloguj
    </button>
    <button class="navigation__buttons-cart">
      <svg class="navigation__buttons-cart-icon" viewBox="0 0 32 32">
        <use xlink:href="/assets/sprite.svg#icon-cart"></use>
      </svg>
      <div class="navigation__buttons-cart-quantity">2</div>
    </button>
  </div>
</nav>
