<section class="form form--login">
    <div class="form__side">
        <h2 class="form__side-heading">Nie posiadasz jeszcze konta?</h2>
        <p class="form__side-paragraph">Chcesz w pełni korzystać z naszego serwisu? Zarejestruj się już teraz.</p>
        <a class="form__side-button button button--transparent button--medium" href="/Register">Zarejestruj się</a>
    </div>
    <div class="form__content">
        <h2 class="form__heading">Zaloguj się na <span class="form__heading--highlight">Czytnik</span></h2>
        <button class="form__google">
            Zaloguj się za pomocą Google
        </button>
        <form id="form" class="form__form">
            <p class="form__text">lub użyj swojego maila</p>
            <input type="email" placeholder="Email" class="form__input" id="emailInput" required />
            <input type="password" placeholder="Hasło" class="form__input" id="passwordInput" required />
            <a href="/Login/RemindPassword" class="form__forgot">Nie pamiętasz hasła?</a>
            <input type="submit" class="form__submit button button--secondary button--medium" value="Zaloguj się" />
        </form>
    </div>
</section>
<script src="~/js/validateLoginForm.js"></script>
<script src="~/js/validateForm.js"></script>