<section class="categories">
    <div id="alphabetNavigation" class="categories__nav"></div>
    <ul id="categoriesList" class="categories__list">

    </ul>
</section>

<script src="~/js/generateAlphabet.js"></script>