<section class="categories wrapper">
    <div id="alphabetNavigation" class="categories__nav"></div>
    <ol id="categoriesList" class="categories__list">

    </ol>
</section>

<script src="~/js/generateAlphabet.js"></script>