/*
* 0 - 600px:      Phone
* 600 - 900px:    Tablet portrait
* 900 - 1200px:   Tablet landscape
* [1200 - 1800]   Normal style
* 1800px +:       Big desktop

* $breakpoint argument choices:
* - phone
* - tab-port
* - tab-land
* - big-desktop

* ORDER: Base + Typography > General Layout + Grid > Page Layout > Components

* 1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary: #ffc533;
  --color-primary-light: #FFDF68;
  --color-primary-dark: #F8974E;
  --color-secondary: #609BFB;
  --color-secondary-dark: #283F66;
  --color-grey: #898787;
  --color-grey-light: #C4C4C4;
  --color-grey-lightest: #E5E5E5;
  --color-white: #FFFFFF;
  --color-white-dark: #F5F5F5;
  --color-black: #000000;
  --color-google: #3F7EE8; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

input,
button {
  background-color: transparent;
  border: none;
  color: currentColor; }

a {
  text-decoration: none;
  color: currentColor; }

button:hover {
  cursor: pointer; }

* {
  font-family: Montserrat; }

.wrapper {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem; }

.navigation {
  display: flex;
  align-items: center;
  margin-top: 4rem; }

.navigation__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20rem; }
  .navigation__links-item {
    color: var(--color-grey-light); }
    .navigation__links-item:hover {
      color: var(--color-secondary);
      transition: 0.2s color; }
    .navigation__links-item + .navigation__links-item {
      margin-left: 3rem; }
    .navigation__links-item--active {
      position: relative;
      color: var(--color-secondary); }
      .navigation__links-item--active::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -60%;
        transform: translateX(-50%);
        width: 7px;
        height: 7px;
        background-color: var(--color-secondary);
        border-radius: 50%; }
    .navigation__links-item--active > .navigation__links-link {
      cursor: default; }
  .navigation__links-link {
    font-weight: 700;
    font-size: 1.4rem; }
  .navigation__links-list {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem; }
  .navigation__links-list-icon {
    fill: currentColor;
    width: 12px;
    margin-left: 1rem; }

.navigation__logo {
  font-size: 3.6rem;
  font-weight: 900;
  color: var(--color-primary); }

.navigation__search {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 4.6rem;
  width: 2rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.5s 0.5s left, 0.5s width, 0.7s background-color; }
  .navigation__search:focus-within {
    left: -70rem;
    background-color: var(--color-white-dark);
    width: 66rem;
    transition: 0.5s left, 0.5s 0.5s width, 0.7s background-color; }
  .navigation__search:focus-within .navigation__search-input {
    display: block; }
  .navigation__search-input {
    display: none;
    width: 90%;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-grey); }
    .navigation__search-input:focus {
      outline: none; }
    .navigation__search-input::placeholder {
      color: var(--color-grey-light);
      opacity: 1; }
    .navigation__search-input:-ms-input-placeholder {
      color: var(--color-grey-light); }
    .navigation__search-input::-ms-input-placeholder {
      color: var(--color-grey-light); }
  .navigation__search-button {
    margin-left: auto;
    width: 20px;
    height: 20px; }
  .navigation__search-icon {
    height: 100%;
    fill: var(--color-grey-light); }
    .navigation__search-icon:hover {
      fill: var(--color-secondary); }

.navigation__buttons {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%; }
  .navigation__buttons-login {
    margin-left: 6rem;
    padding: 0.6rem 3rem;
    background-color: var(--color-primary);
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .navigation__buttons-cart {
    position: relative;
    margin-left: 2.5rem;
    width: 32px;
    height: 32px; }
  .navigation__buttons-cart-icon {
    width: 100%;
    fill: var(--color-grey-light); }
  .navigation__buttons-cart-quantity {
    position: absolute;
    bottom: -25%;
    right: -25%;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700; }
